<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PHCCS.web.repository.mapper.PostMapper">

    <insert id="communitySave" keyProperty="post.id" useGeneratedKeys="true">
        insert into community_board (member_id, author, title, content, create_date)
        values (#{memberId}, #{post.author}, #{post.title}, #{post.content}, #{post.writeTime})
    </insert>

    <insert id="qnaSave" keyProperty="post.id" useGeneratedKeys="true">
        insert into qna_board (member_id, author, title, content, create_date)
        values (#{memberId}, #{post.author}, #{post.title}, #{post.content}, #{post.writeTime})
    </insert>

    <insert id="vetSave" keyProperty="post.id" useGeneratedKeys="true">
        insert into vet_board (member_id, author, title, content, create_date)
        values (#{memberId}, #{post.author}, #{post.title}, #{post.content}, #{post.writeTime})
    </insert>


</mapper>

