<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="practice.pra.domain.repository.mapper.BoardMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into board(title, author, content, wdate)
        values (#{title}, #{author}, #{content}, #{wdate})
    </insert>

    <select id="readBoard" resultType="Board">
        select * from board
        where id = #{id} and author = #{author}
    </select>

    <select id="findAllBoard" resultType="Board">
        select * from board
    </select>
</mapper>
