<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="practice.pra.domain.repository.mapper.NoteMapper">

    <select id="showAllNotes" resultType="Note">
        select board_id from note

    </select>

    <insert id="send">
        insert into note(note_id, sender_id, receiver_id, content, send_date, read_chk)
        values(#{noteId}, #{senderId}, #{receiverId}, #{content}, #{sendDate}, #{readChk})

    </insert>

</mapper>
