<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="practice.pra.domain.repository.mapper.PetMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into pet(pet_name, pet_species, pet_owner)
        values (#{petName}, #{petSpecies}, #{petOwner})
    </insert>

    <update id="update">
        update pet
        set pet_name = #{updateParam.petName},
        pet_species = #{updateParam.petSpecies},
        pet_age = #{updateParam.petAge)
        where id = #{id}
    </update>

</mapper>