<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PHCCS.back.web.repository.mapper.PetMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into pet(pet_name, pet_breed, pet_age, pet_gender, pet_reg_no)
        values (#{name}, #{species}, #{age}, #{gender}, #{regNo})
    </insert>

    <select id="findPetsByMember" resultType="Pet">
        select pet_name as name, pet_breed as species, pet_age as age, pet_gender as gender, pet_reg_no as regNo
        from pet
        where mb_no = #{id}
    </select>

    <delete id="deletePet">
        delete
        from pet
        where mb_no = #{memberId} and pet_no in
        <foreach item="petId" collection="petIds" open="(" separator="," close=")">
            #{petId}
        </foreach>
    </delete>


</mapper>
