<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PHCCS.service.member.repository.mapper.MemberMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into member(email, pwd, name, nick_name, pho_no, created, role)
        values (#{email}, #{pwd}, #{name}, #{nickName}, #{phoNo}, #{created}, #{role})
    </insert>
    
    <select id="findMemberByEmail" resultType="member">
        select *
        from member
        where email = #{email}
    </select>

    <update id="modifyMember">
        update member
        set pwd = #{memberModifyDto.pwd},
        name = #{memberModifyDto.name},
        nick_name = #{memberModifyDto.nickName},
        pho_no = #{memberModifyDto.phoNo}
        where id = #{id}
    </update>

    <select id="findMemberProfileById" resultType="PHCCS.service.member.dto.MemberProfileDTO">
        select email, pwd, name, nick_name, pho_no
        from member
        where id = #{id}
    </select>

    <select id="findMemberById" resultType="member">
        select *
        from member
        where id = #{id}
    </select>

    <delete id="deleteMember">
        delete
        from member
        where id = #{id}
    </delete>

    <select id="findRoleById">
        select role
        from member
        where id = #{id}
    </select>

    <select id="existsByEmail">
        SELECT
            CASE
                WHEN EXISTS (SELECT 1 FROM member WHERE email = #{email})
                THEN 1
                ELSE 0
            END AS is_email_duplicate;
    </select>

    <select id="existsByNickName">
        SELECT
            CASE
                WHEN EXISTS (SELECT 1 FROM member WHERE nick_name = #{nickName})
                THEN 1
                ELSE 0
            END AS is_nickName_duplicate;
    </select>

    <select id="existsByPhoNo">
        SELECT
            CASE
                WHEN EXISTS (SELECT 1 FROM member WHERE pho_no = #{phoNo})
                THEN 1
                ELSE 0
            END AS is_PhoNo_duplicate;
    </select>

    <update id="promoteToVet" parameterType="Long">
        UPDATE member
        SET role = 1
        WHERE id = #{id}
    </update>

</mapper>
