<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PHCCS.web.repository.mapper.PetMapper">

    <insert id="save">
        insert into member_pet(member_id, name, breed, age, gender, reg_no)
        values (#{memberId}, #{pet.petName}, #{pet.petBreed}, #{pet.petAge}, #{pet.petGender}, #{pet.petRegNo})
    </insert>

    <select id="findPetsByMember" resultType="Pet">
        select name as petName, age as petAge, breed as petBreed, gender as petGender, reg_no as petRegNo
        from member_pet
        where member_id = #{id}
    </select>

    <select id="findById" resultType="Pet">
        select *
        from member_pet
        where pet_no = #{id}
    </select>

    <update id="modifyPet">
        update member_pet
        set name = #{modifyParam.petName},
            age = #{modifyParam.petAge},
            breed = #{modifyParam.petBreed},
            gender = #{modifyParam.petGender}
        where member_id = #{memberId} and name = #{name}
    </update>

    <delete id="deletePet">
        delete
        from member_pet
        where member_id = #{memberId} and name in
        <foreach item="petName" collection="petNames" open="(" separator="," close=")">
            #{petName}
        </foreach>
    </delete>


</mapper>
