<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PHCCS.service.vet_list.repository.mapper.PostMapper">
    <insert id="save" keyProperty="post.id" useGeneratedKeys="true">
        insert into
        <choose>
            <when test="category == 'qna_board'">
                qna_board
            </when>
            <when test="category == 'vet_board'">
                vet_board
            </when>
            <when test="category == 'community_board'">
                community_board
            </when>
        </choose>
        (member_id, nick_name, title, content, create_date,update_date, view_cnt, like_cnt)
        values (#{post.memberId}, #{post.author}, #{post.title}, #{post.content}, #{post.writeTime},#{post.updateTime}, 0, 0)
    </insert>

    <insert id="insertDir">
        update
        <choose>
            <when test="category == 'qna_board'">
                qna_board
            </when>
            <when test="category == 'vet_board'">
                vet_board
            </when>
            <when test="category == 'community_board'">
                community_board
            </when>
        </choose>
        set file_dir = #{dir}
        where id = #{id}
    </insert>

    <select id="findAuthorId" resultType="Long">
        select member_id
        from
        <choose>
            <when test= "category == 'qna_board'">
                qna_board
            </when>
            <when test= "category == 'community_board'">
                community_board
            </when>
            <when test= "category == 'vet_board'">
                vet_board
            </when>
        </choose>
        where id = #{id}
    </select>
    
    <select id="showPost" resultType="Post">
        select id, member_id, nick_name as author , title, content, view_cnt, like_cnt, create_date as writeTime, ifnull(update_date, "--") as updateTime, file_dir
        from
        <choose>
            <when test= "category == 'qna_board'">
                qna_board
            </when>
            <when test= "category == 'community_board'">
                community_board
            </when>
            <when test= "category == 'vet_board'">
                vet_board
            </when>
        </choose>
        where id = #{id}
    </select>

    <select id="showAllPost" resultType="PostHeaderDTO">
        select id, member_id, nick_name, title, view_cnt, like_cnt, create_date, ifnull(update_date, "--") as update_date,
            case
                when length(content) > 15
                    then substring(content, 1, 15)
                    else content
            end as partOfContent
        from
        <choose>
            <when test= "category == 'qna_board'">
                qna_board
            </when>
            <when test= "category == 'community_board'">
                community_board
            </when>
            <when test= "category == 'vet_board'">
                vet_board
            </when>
        </choose>
        <where>
            <if test="searchName != null">
                and title like concat ('%' , #{searchName}, '%')
            </if>
        </where>
        order by id desc
        limit #{size} offset ${offset}
    </select>

    <update id="updatePost">
        update
        <choose>
            <when test="dto.category == 'qna_board'">
                qna_board
            </when>
            <when test="dto.category == 'vet_board'">
                vet_board
            </when>
            <when test="dto.category == 'community_board'">
                community_board
            </when>
        </choose>
        set title = #{dto.title},
            content = #{dto.content},
            update_date = #{dto.modifyTime},
            file_dir = #{dir}
        where member_id = #{memberId} and id = #{postId}
    </update>

    <delete id="deletePost">
        delete from
        <choose>
            <when test= "category == 'qna_board'">
                qna_board
            </when>
            <when test= "category == 'community_board'">
                community_board
            </when>
            <when test= "category == 'vet_board'">
                vet_board
            </when>
        </choose>
        where member_id = #{memberId} and id = #{postId}
    </delete>

    <select id="showMyPost" resultType="MyPostDTO">
        select id, title, partOfContent, view_cnt, like_cnt, create_date, update_date, category
        from(
            SELECT q.id AS id, q.title AS title, q.view_cnt, q.like_cnt, q.create_date, ifnull(update_date, "--") as update_date,  'qna_board' AS category,
                case
                    when length(content) > 15
                    then substring(content, 1, 15)
                    else content
                end as partOfContent
            FROM qna_board q
            WHERE member_id = #{memberId}

            UNION ALL

            SELECT c.id AS id, c.title AS title, c.view_cnt, c.like_cnt, c.create_date, ifnull(update_date, "--") as update_date, 'community_board' AS category,
                case
                    when length(content) > 15
                    then substring(content, 1, 15)
                    else content
                end as partOfContent
            FROM community_board c
            WHERE member_id = #{memberId}

            UNION ALL

            SELECT v.id AS id, v.title AS title, v.view_cnt, v.like_cnt, v.create_date, ifnull(update_date, "--") as update_date, 'vet_board' AS category,
                case
                    when length(content) > 15
                    then substring(content, 1, 15)
                    else content
                end as partOfContent
            FROM vet_board v
            WHERE member_id = #{memberId}
        ) as result
        order by create_date desc
    </select>

    <select id="showLikedPosts" resultType="LikedPostDTO">
        select id, nick_name, title, view_cnt, like_cnt, create_date, ifnull(update_date, "--") as update_date, 'qna_board' as category,
            case
                when length(content) > 15
                then substring(content, 1, 15)
                else content
            end as partOfContent
        from qna_board as qb join qna_like as ql
        on qb.id = ql.post_id
        where ql.member_id = #{memberId}

        union all

        select id, nick_name, title, view_cnt, like_cnt, create_date, ifnull(update_date, "--") as update_date, 'community_board' as category,
            case
                when length(content) > 15
                then substring(content, 1, 15)
                else content
            end as partOfContent
        from community_board as cb join community_like as cl
        on cb.id = cl.post_id
        where cl.member_id = #{memberId}

        union all

        select id, nick_name, title, view_cnt, like_cnt, create_date, ifnull(update_date, "--") as update_date, 'vet_board' as category,
            case
                when length(content) > 15
                then substring(content, 1, 15)
                else content
            end as partOfContent
        from vet_board as vb join vet_like as vl
        on vb.id = vl.post_id
        where vl.member_id = #{memberId}
    </select>

    <select id="isLikeMember">
        select is_like
        from
        <choose>
            <when test= "category == 'qna_board'">
                qna_like
            </when>
            <when test= "category == 'community_board'">
                community_like
            </when>
            <when test= "category == 'vet_board'">
                vet_like
            </when>
        </choose>
        where member_id = #{memberId} and post_id = #{postId}
    </select>

    <update id="incrementLike">
        update
        <choose>
            <when test="category eq 'qna_board'">
                qna_board
            </when>
            <when test="category eq 'vet_board'">
                vet_board
            </when>
            <when test="category eq 'community_board'">
                community_board
            </when>
        </choose>
        set like_cnt = like_cnt + 1
        where id = #{postId}
    </update>

    <update id="decrementLike">
        update
        <choose>
            <when test="category eq 'qna_board'">
                qna_board
            </when>
            <when test="category eq 'vet_board'">
                vet_board
            </when>
            <when test="category eq 'community_board'">
                community_board
            </when>
        </choose>
        set like_cnt = like_cnt - 1
        where id = #{postId}
    </update>

    <insert id="likeMember">
        insert into
        <choose>
            <when test="category eq 'qna_board'">
                qna_like
            </when>
            <when test="category eq 'vet_board'">
                vet_like
            </when>
            <when test="category eq 'community_board'">
                community_like
            </when>
        </choose>
        values (#{postId}, #{memberId}, 1)
    </insert>

    <delete id="unLikeMember">
        delete from
        <choose>
            <when test="category eq 'qna_board'">
                qna_like
            </when>
            <when test="category eq 'vet_board'">
                vet_like
            </when>
            <when test="category eq 'community_board'">
                community_like
            </when>
        </choose>
        where post_id = #{postId} and member_id =  #{memberId}
    </delete>

    <select id="findPostDir" resultType="String">
        select file_dir
        from
        <choose>
            <when test="category == 'qna_board'">
                qna_board
            </when>
            <when test="category == 'vet_board'">
                vet_board
            </when>
            <when test="category == 'community_board'">
                community_board
            </when>
        </choose>
        where id = #{id}
    </select>
    
    <update id="incrementViewCount">
        update
        <choose>
            <when test="category eq 'qna_board'">
                qna_board
            </when>
            <when test="category eq 'vet_board'">
                vet_board
            </when>
            <when test="category eq 'community_board'">
                community_board
            </when>
        </choose>
        set view_cnt = view_cnt + 1
        where id = #{id}
    </update>
</mapper>

