<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PHCCS.service.skinimage.repository.mapper.SkinImageMapper">

    <insert id="saveImgInfo" useGeneratedKeys="true">
        insert into picture (member_id, result, dir, create_at)
        values (#{memberId}, #{result}, #{dir}, #{createAt})
    </insert>

    <delete id="getImgInfo">
        delete from picture
        where member_id = #{memberId} and dir = #{dir}
    </delete>
</mapper>
