<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PHCCS.service.member.vet.repository.mapper.VetRequestMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into member(license_no, email, name,hospital_name, hospital_addr, request_date)
        values (#{licenseNo}, #{email}, #{name}, #{hospitalName}, #{hospitalAddr} #{requestDate})
    </insert>

    <!-- 모든 VetRequestModel을 조회하는 select문 -->
    <select id="findAll" resultType="PHCCS.service.admin.model.VetRequestModel">
        select id, license_no AS licenseNo, email, name, hospital_name AS hospitalName,
        hospital_addr AS hospitalAddr, request_date AS requestDate
        from vet_request
    </select>


</mapper>